<h1>New Noun</h1>
<form action="/nouns" method="POST">
 <!--  <ul>
    <li>
      <label for="name">Name</label>
      <input type="text" id="name" name="name">
    </li>
    <li>
      <label for="definition">Definition</label>
      <textarea id="definition" name="definition"></textarea>
    </li>
    <li>
      <label for="usefulness">Usefulness</label>
      <input type="number" id="usefulness" name="usefulness">
    </li>
  </ul>
  <input type="submit" /> -->
  <%= erb :_form %>
</form>