:root {
  --orange: #FDBD33;
  --magenta: #FF5A5F;
}

/* layout */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  margin: 0.5em 0;
}

button {
  font-size: 14px;
  font-weight: bold;
  background: none;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
  transition: all 0.2s;
}

button:focus,
button:hover {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 4px;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.18) 1px -2px 4px;
}

/* NavBar */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 8rem;
  box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.75);
}

header .logo {
  width: 60px;
  height: 60px;
  background-image: url(./images/logo.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

header .search {
  width: 25%;
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
}

header .search:hover,
header .search:active {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 4px;
}

header .search input {
  border: none;
  font-size: 14px;
}

header .search input[type="text"] {
  width: 80%;
  padding: 0.25rem;
  margin: 0 0.25rem;
  font-weight: bold;
  border-bottom: 1px solid transparent;
}

header .search input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid #ccc;
}

header .search input[type="submit"] {
  flex-grow: 1;
  font-weight: bold;
  background-color: var(--magenta);
  padding: 0.5rem;
  border-radius: 6px;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s;
}

header .search input[type="submit"]:focus,
header .search input[type="submit"]:active {
  outline: none;
  transform: scale(0.95);
}

/* layout */
main {
  padding: 1rem 8rem;
}

/* ListingsContainer */
.listings {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
}

/* ListingsCard */
.card {
	flex: 0 1 calc(20% - 1.5rem);
  margin: 2rem 0.75rem 4rem;
  display: flex;
  flex-direction: column;
}

.card .image {
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding-top: 66.6667%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.card .favorite {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  color: var(--magenta);
  margin: 0.5rem;
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  padding: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.card .favorite:hover {
  opacity: 1;
} 

.card .info {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.rating {
  color: var(--magenta);
}

.card .title {
  margin-bottom: 0.5rem;
}

.card .reviews button {
  font-weight: normal;
  margin: 1rem 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-decoration: underline;
  line-height: 1.25em;
}

.card .reviews button:hover {
  box-shadow: none;
}

.card .reviews form {
  display: flex;
  flex-direction: column;
}

.card .reviews form label {
  font-size: 0.8rem;
}

.card .reviews form input, 
.card .reviews form textarea, 
.card .reviews form select {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
  font-weight: bold;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
}

.card .reviews form input:focus, 
.card .reviews form textarea:focus, 
.card .reviews form select:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.card .reviews form input[type="submit"] {
  width: 30%;
}

/* Pager */
.pager {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}

/* Spinner */
.spinner-container {
  width: 100%;
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  background: url(./images/bball.png);
  background-size: cover;
  width: 80px;
  height: 80px;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
/* responsiveness */
@media (min-width: 0) and (max-width: 699px) {
  .card {
    flex: 0 1 100%;
    margin: 1rem 0;
  }
}

@media (min-width: 700px) and (max-width: 899px) { 
  .card {
    flex: 0 1 calc(50% - 2rem);
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .card {
    flex: 0 1 calc(33% - 2rem);
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .card {
    flex: 0 1 calc(25% - 2rem);
  }
}

@media (max-width: 1200px) {
  header,
  main {
    padding: 0.75rem 1rem;
  }
}

